header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
    background: #ffffff;
}

.search_btn{
    border-color: #ffc000;
    background: #ffc000;
    color: #fff;
    font-size: 12px;
    border: none;
    height: 32px;
}
.search_div{
    width: 50%;
}
a{
    text-decoration: none;
    color: black;
}