
<header class="navbar navbar-light shadow-sm" id="header">
    <div><div class="header-left d-flex align-items-center">
        <a class="navbar-brand" href="/">INHABITR <em>Live Flexibly</em></a> <span (click)="toggleMenu()" class="navbar-toggler-icon pl-5"></span>
    </div> 
    </div>
    <div class="input-group search_div">
        <input type="text" class="form-control font12" [(ngModel)]="searchString" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary search_btn" type="button" (click)="search()">Search</button>
        </div>
      </div>
    <div class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle font14" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{auth.getProfileInfo('firstName')}} {{auth.getProfileInfo('lastName')}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <!-- <a class="dropdown-item" href="#">Profile</a> -->
              <a class="dropdown-item font12" href="javascript:void(0)" (click)="logout()"> Logout</a>
            </div>
    </div>
</header>

<!-- Vertical navbar -->
<div class="col-sm-2 col-md-2 col-5">
<div  id="sidebar" [class]="showMenu?'active vertical-nav bg-white ':' vertical-nav bg-white '">
    <ul class="nav flex-column bg-white mb-0">
      <li  (click)="navigate('dashboard')" class="nav-item mt-5" >
        <a href="javascript:void(0)" class="nav-link text-dark  ">
                  <i class="fa fa-dashboard mr-3  fa-fw"></i>
                  Dashboard
              </a>
      </li>
      <li  (click)="navigate('items')" class="nav-item">
        <a href="javascript:void(0)" class="nav-link text-dark ">
                  <i class="fa fa-cubes mr-3  fa-fw"></i>
                  Products
              </a>
      </li>
      <!-- <li  (click)="navigate()" class="nav-item">
            <a routerLink="/items" class="nav-link text-dark ">
                      <i class="fa fa-plus mr-3  fa-fw"></i>
                    Add Product
                  </a>
          </li> -->
      <li  (click)="navigate('bookmarklet')" class="nav-item">
        <a href="javascript:void(0)" class="nav-link text-dark ">
                  <i class="fa fa-bookmark mr-3  fa-fw"></i>
                  Bookmarklet
              </a>
      </li>
      <li  (click)="navigate('moodboard')" class="nav-item">
        <a href="javascript:void(0)" class="nav-link text-dark ">
                  <i class="fa fa-cogs mr-3  fa-fw"></i>
                  Moodboard
              </a>
      </li>
    </ul>
  
  </div>
</div>
  <!-- End vertical navbar -->
 