
<ng-template #mymodal let-modal>
    <div class="modal-header">
        <h4 class="modal-title font12" id="modal-basic-title" *ngIf="sortOptions">Sort By</h4>
        <h4 class="modal-title font12" id="modal-basic-title" *ngIf="showCategory">Categories</h4>

            <span class="close pointer" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </span>
    </div>            
  <div class="modal-body " >
      <div class="dialogContent" *ngIf="showCategory">
        <ul ng-if="categories.length>0"> 
                <!-- <li ng-repeat="retailer in retailers | orderBy:'name'" ng-click="setFilters(retailer,'retailer')"><span>{{retailer.name}}</span></li> -->
                <li flex="100"  *ngFor="let category of categories | orderBy:'asc':'name'">
                   <span (click)="filterItems(category);modal.dismiss('Cross click')"> {{ category.name }}</span>
                </li>
              </ul>
       </div>
  <div class="dialogContent" *ngIf="sortOptions">
        <ul> 
                <li flex="100">
                   <span (click)="sortBy(true);modal.dismiss('Cross click')">Publish</span>
                </li>
                <li flex="100">
                        <span (click)="sortBy(false);modal.dismiss('Cross click')">Unpublish</span>
                     </li>
              </ul>
       </div>
  </div>
</ng-template>
 
<div class="col-sm-10 col-md-10 col-7 p-0 float-right">
<div  id="content" [class]="!showMenu?'active container page-content p-5 mt-5':'container page-content p-5 mt-5'">
        
    <div class="container-fluid" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
        (scrolled)="onScroll()" [scrollWindow]="true">
        <div class="row w-100 bg-white filters d-flex justify-content-center align-content-center">
                <div class="col text-center" (click)="clearAll('all')">
                    <span [class.menuactive]="!selectedCategory.name && !publishVal"  >All</span>
                </div>
                <div class="col text-center" (click)="open(mymodal,'category')">
                        <span [class.menuactive]="selectedCategory.name"  >Categories</span>
                </div>
                <div class="col text-center">
                    Suppliers
                </div>
                <div class="col text-center">
                    Brands
                </div>
                <div class="col text-center" (click)="open(mymodal,'sort')">
                        <span [class.menuactive]="publishVal">Sort</span>
                </div>
         </div>
         <div class="row mt-2" *ngIf="selectedCategory.name || publishVal">
             <div class="col" align="center">
                    <span class="badge badge-secondary p-2 pointer" *ngIf="selectedCategory.name" (click)="clearAll('category')">{{selectedCategory.name}} <span>&nbsp;<i class="fa fa-close"></i></span></span>
                   &nbsp;<span class="badge badge-secondary p-2 pointer" *ngIf="publishVal === 'true'" (click)="clearAll('sort')">Published <span>&nbsp;<i class="fa fa-close"></i></span></span>
                   &nbsp;<span class="badge badge-secondary p-2 pointer" *ngIf="publishVal === 'false'" (click)="clearAll('sort')">UnPublished <span>&nbsp;<i class="fa fa-close"></i></span></span>
                </div>
         </div>
        <!-- <div class="dropdown" *ngIf="categories">
                <button class="btn btn-secondary dropdown-toggle font14" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Categories <span *ngIf="selectedCategory.name"> - {{selectedCategory.name}}</span>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <div class="dropdown drop_down" *ngIf="categories">
                  <a class="dropdown-item font14" href="javascript:void(0)" (click)="filterItems('all')">All</a>
                  <a class="dropdown-item font14" href="javascript:void(0)" (click)="filterItems(category)" *ngFor="let category of categories">{{category.name}}</a>
                </div>
              </div>
        </div> -->
        <!-- <div class="row sub_header shadow-sm d-flex flex-wrap align-content-center">
            <div class="col-sm-2" align="left">
                <div class="row">
                    <div class="col"></div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        All
                    </div>
                    <div class="col">
                        Categories
                    </div>
                    <div class="col">
                        Retailers
                    </div>
                    <div class="col">
                        Brands
                    </div>
                </div>
            </div>
        </div> -->
        <div class="row">
            <div class="col-sm-11 m-auto">
                <ul id="waterfall">
                    <li *ngFor="let item of data" class="list-feed style-grid">
                        <div class="apply-spacing product-grid3 shadow" >
                            <div class="shop-view ">
                                <div class="full-width image-block-grid" style="min-height: 120px;overflow:hidden;position: relative;">
                                        <span class="tag" *ngIf="item.isProcured >= 1">Published</span>
                                    <a id="{{item.id}}" class="details-link" routerLink= "/item/{{item.id}}">
                                        <img src="{{item.image}}" *ngIf="item.image" title="{{item.name}}" prod-image>
                                        <span class="noProductetxt" *ngIf="!item.image">Image not available</span>
                                    </a>
                                </div>
                                <div class="product-content shadow-sm">
                                <div class="container" style="height: 60px;">

                                    <div class="p-1 text-left ellipsis prd_title bold" >{{item.name | titlecase}}</div>
                                    <div class="p-1 text-left text-black bold">
                                            <strong class="font12" >
                                                {{item.salePrice | currency}}</strong>
                                    </div>
                                </div>
                                </div>
    
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    
    </div>
</div>
</div>
