
<div class="col-sm-10 col-md-10 col-7 p-0 float-right">
<div  id="content" [class]="!showMenu?'active container page-content p-5 mt-5':'container page-content p-5 mt-5'">
        <div class="row mt25">
                <div class="col pointer mt-5 card_block"  [routerLink]="['/items']"  >
                        <div class="card tb" >
                                <div class="card-body text-center d-flex  justify-content-around align-items-center">
                                  <div>
                                  <h5 class="card-title">{{dashboardCounts.TOTAL_PRODUCTS}}</h5>
                                  <p class="card-text font14">Total Products</p>
                                  </div>
                                </div>
                              </div>
                </div>
                <div class="col pointer mt-5 card_block"  [routerLink]="['/items']" [queryParams]="{ publish: true }">
                    <div class="card pb ">
                            <div class="card-body text-center d-flex  justify-content-around align-items-center">
                              <div><h5 class="card-title">{{dashboardCounts.PROCURED}}</h5>
                              <p class="card-text font14">Published Products</p></div>
                            </div>
                          </div>
                </div>
                <div class="col pointer mt-5 card_block"  [routerLink]="['/items']" [queryParams]="{ publish: false }">
                        <div class="card unpb">
                                <div class="card-body text-center d-flex  justify-content-around align-items-center">
                                  <div>
                                  <h5 class="card-title">{{dashboardCounts.NEW_PRODUCTS}}</h5>
                                  <p class="card-text font14">Unpublished Products</p>
                                  </div>
                                </div>
                              </div>
                </div>
                <div class="col pointer mt-5  card_block"  [routerLink]="['/moodboards']" >
                  <div class="card mb">
                          <div class="card-body text-center d-flex  justify-content-around align-items-center">
                            <div>
                            <h5 class="card-title">6</h5>
                            <p class="card-text font14">Moodboards</p>
                            </div>
                          </div>
                        </div>
          </div>
                
                
            </div>
</div>
</div>
  