.pb{
    background: rgba(255, 192, 0, 0.8);
    color: white;
    font-weight: bold;
}
.tb{
    background: rgba(100, 149, 237, 0.8);
    color: white;
    font-weight: bold;
}
.unpb{
    background: rgb(144, 238, 144);
    color: white;
    font-weight: bold;
}
.mb{
    background: lightsalmon;
    color: white;
    font-weight: bold;
}
.card{
    height: 175px;
    width: 175px;
    border-radius: 20px;
}   
.card_block{
    width: 175px;height: 175px;
}
.mt25{
    margin-top: 30px;
}