/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
*{
    box-sizing: border-box;
    outline: none;
}
body{
    background: #f2f2f2 !important;
}
.vertical-nav {
    min-width: 14rem;
    width: 14rem;
    font-size: 14px;
    height: 100vh;
    position: fixed;
    top: 5%;
    left: 0;
    margin-top: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
  }
  .vertical-nav .nav-link{
    border-bottom: 1px solid #ffc000;
  }
  
  .page-content .active{
    width: calc(100% - 11rem);
    margin-left: 11rem;
    transition: all 0.4s;
  }
  
.logo{
    width: 150px;
}
  
  /* for toggle behavior */
  
  #sidebar.active {
    margin-left: -11rem;
  }
  .vertical-nav i{
      color: #ffc000;
  }
  a{
      color: black;
  }
  
  #content.active {
    /*margin-left: 11rem;
    width: calc(100% - 11rem);*/
    margin-top:85px !important;
    margin-right: 0px;
  }
  .ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .font12{
    font-size: 12px !important;
  }
  .font10{
    font-size: 10px !important;
  }
  .font14{
    font-size: 14px !important;
  }
  #header .navbar-brand {
    margin-right: 15px;
    color: #ffc000 !important;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 24px;
}
#header .navbar-brand em {
    display: block;
    font-size: 12px;
    font-style: unset;
    color: #999;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    margin-top: -10px;
    font-style: normal;
}
  .image-block-grid{
    height: 150px !important;
  }
  .image-block-grid img{
    height: auto;
    margin: 0 auto;
    position: relative;
    width: 100px;
  }
  @media (max-width: 768px) {
    #sidebar {
      margin-left: -11rem;
    }
    #sidebar.active {
      margin-left: 0;
    }
    #content {
      width: 100%;
      margin: 0;
    }
    #content.active {
      margin-left: 11rem;
      width: calc(100% - 11rem);
    }
  }
  
  .btn:focus {
    outline: none;
  }
  button,input{
    font-size: 14px !important;
  }
  .pointer{
    cursor: pointer;
  }
  .breadcrumb{font-size: 14px; background: #fff; color: #878787; padding: .0rem 0.5rem !important;}
  .breadcrumb-item.active{margin: 0px !important;}
  .img_prodinfo-width{max-width: 100% !important;max-height: 30% !important; padding: 15px;    
    }
    .prod-title{color: #212121;font-weight: 500;
      font-size: 16px;}
    .prodsub-title{    color: #878787;font-size: 14px;
      font-weight: 500;}
      .prodsub-title a{color: blue !important;}
      .prodsub-title span{font-weight: normal; color: #212121;line-height: 20px;}
      .price-title{font-weight: 500;font-size: 14px;
        text-align: left;
        color: #388e3c;}
        .price-title .price{font-size: 20px;
          vertical-align: sub;    color: #212121;}
.badge-info{font-weight: normal;}