
<div  id="content" [class]="!showMenu?'active container page-content p-5 mt-5':'container page-content p-5 mt-5'">
        
    <div class="container-fluid" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
        (scrolled)="onScroll()" [scrollWindow]="true">
   
        <div class="row">
            <div class="col-sm-11 m-auto">
                <ul id="waterfall">
                    <li *ngFor="let item of data" class="list-feed style-grid">
                        <div class="apply-spacing product-grid3 shadow" >
                            <div class="shop-view ">
                                <div class="full-width image-block-grid" style="min-height: 120px;overflow:hidden;position: relative;">
                                        <span class="tag" *ngIf="item.isProcured >= 1">Published</span>
                                    <a id="{{item.id}}" class="details-link" routerLink= "/item/{{item.id}}">
                                        <img src="{{item.image}}" *ngIf="item.image" title="{{item.productName}}" prod-image>
                                        <span class="noProductetxt" *ngIf="!item.image">Image not available</span>
                                    </a>
                                </div>
                                <div class="product-content shadow-sm">
                                <div class="container" style="height: 60px;">

                                    <div class="p-1 text-left ellipsis prd_title bold" >{{item.productName | titlecase}}</div>
                                    <div class="p-1 text-left text-black bold">
                                            <strong class="font12" >
                                                {{item.salePrice | currency}}</strong>
                                    </div>
                                </div>
                                </div>
    
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    
    </div>
</div>
