.btn-outline-primary {
    color: #eb4317;
    border-color: #eb4317;
}
.btn-outline-primary:hover{
    background: #eb4317;
    color: #ffffff;
}

.loginbtn{
    background: #eb4317;
    border-color:#eb4317;
}
.loginbtn:hover{
    background: orangered;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{
    background: #eb4317;
    border: #eb4317;
}
.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle{
    background: #eb4317;
    border: #eb4317;
}
.form-control:focus{
    border: 1px solid #ced4da !important;
}
.fb:hover,.fb:active{
    background: #3b5998 !important;
    color: #ffffff;
    border-color: #3b5998 !important;
}
.card:hover {
        background: #fff;
        box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
        border-radius: 4px;
        transition: all 0.3s ease;
    }

.login_title{
    color: #f47b20;
}
.img_width{
    width: 200px;
}
.img_width img{
    max-width: 100%;
    max-height: 100%;
}
.centerr{
    width: 150px;
      margin: 40px auto;
      
    }
    .input-group input { text-transform: lowercase;}