<div class="col-sm-10 col-md-10 col-7 float-right">
<div  id="content" [class]="!showMenu?'active container bg-white page-content p-1 mt-5':'container bg-white page-content p-1 mt-5'" *ngIf="itemInfo">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
          <li class="breadcrumb-item"><a href="#">Products</a></li>
          <li class="breadcrumb-item active" aria-current="page">Get A Quote From A Local Store</li>
        </ol>
      </nav>
  <div class="row d-flex justify-content-center">
      <div class="col-sm-5 col-md-5 col">
          <div class="card rounded ml-2">
                <div class="card-image clearfix">
                        <img src="{{itemInfo.image}}" alt="{{itemInfo.name}}" title="{{itemInfo.name}}" class="img_prodinfo-width">
                </div>
          </div>
      </div>
      <div class="col-sm-7 col-md-7 col">
          <h5 class="prod-title">{{itemInfo.name | titlecase}}&nbsp;&nbsp;&nbsp;<i class="fa fa-edit" (click)="showEditTitle()"></i></h5>
          <div class="input-group pb-2" *ngIf="editTitle">
                <input type="text" class="form-control form-control-sm" [(ngModel)]="itemInfo.name">
                <div class="input-group-append">
                  <button class="btn btn-sm btn-success" type="button" (click)="showEditTitle()">Update</button>
                  <button class="btn btn-sm btn-secondary" type="button" (click)="showEditTitle()">Cancel</button>
                </div>
              </div>
          <h6 class="prodsub-title" *ngIf="itemInfo.retailer">Supplier: <a>{{itemInfo.retailer | titlecase}}</a></h6>
          <h6 class="prodsub-title">Description: <span>{{itemInfo.description}}</span></h6>
          <h6 class="price-title">Asset Price: <p class="price">{{itemInfo.salePrice | currency}}</p></h6>
          <h6 class="price-title">Inhabitr Price: <p class="price">{{inhabitrPrice | currency}} <span class="text-danger font12 pl-3 pr-3">{{(inhabitrPercentage)}}% &nbsp;&nbsp;&nbsp;<i class="fa fa-edit" (click)="manage_percentage()"></i></span> </p></h6>
          <h6 class="font12 mt-2" *ngIf="edit_percentage"> <i class="fa fa-plus"></i> <span class="text-danger pl-3 pr-3">{{(inhabitrPercentage)}}%</span> <i class="fa fa-minus"></i>&nbsp;&nbsp;&nbsp; <button type="button" class="btn btn-success btn-sm  ml-3 font12" (click)="manage_percentage()">Save</button>&nbsp;<button type="button" class="btn btn-danger btn-sm ml-1 font12" (click)="manage_percentage()">Cancel</button></h6>
          <!-- <div class="centerr w-50">
                <p>
                  </p><div class="input-group">
                      <span class="input-group-btn">
                          <button type="button" class="btn btn-default btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">
                              <span class="fa fa-minus"></span>
                          </button>
                      </span>
                      <input type="text" name="quant[1]" class="form-control input-number" value="1" min="1" max="10">
                      <span class="input-group-btn">
                          <button type="button" class="btn btn-default btn-number" data-type="plus" >
                              <span class="fa fa-plus"></span>
                          </button>
                      </span>
                  </div>
                <p></p>
          </div> -->
          <div  class="mt-3" *ngIf="itemInfo.isProcured >= 1 && itemInfo.updatedDate && !success">
                <span class="badge badge-info">Product Published on {{itemInfo.updatedDate | date:'mediumDate'}}</span>

          </div>
         
          <div class="alert alert-success font14 p-2" role="alert" *ngIf="success">
                Successfully published the Product!
              </div>
      </div>
  </div>
  <div class="row mt-4 justify-content-center" *ngIf="itemInfo.isProcured !== 1">
        <div class="col-8 m-auto">
            <div class="form-group">
                <button type="button" class="btn btn-sm btn-success btn-block w-25 m-auto" (click)="publish()"> Publish </button>
            </div>
         </div>
    </div>
    <div class="row mt-4 justify-content-center" *ngIf="itemInfo.isProcured === 1">
            <div class="col-8 m-auto">
                <div class="form-group">
                    <button type="button" class="btn tbn-sm btn-danger btn-block w-25 m-auto" (click)="unpublish()"> Unpublish </button>
                </div>
             </div>
        </div>
  
</div>
</div>