<div  id="content" [class]="!showMenu?'active container page-content p-5 mt-5':'container page-content p-5 mt-5'">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                        <div class="brebutton" style="margin:10px;text-align:center;display:block;width: 90%;margin-top:30px;">
                                <a id="Inhabitrbookmark" href="javascript:(function(){var url = document.location.href;window.open('http://35.194.69.197:3000/scrape?url='+url,'_blank','resizable=yes,location=0,top=100,left=350,width=750,height=500');})();" class="bookmarkbtn">INHABITR BOOKMARK</a>
             
                                <div class="brewit-tooltip"><b>Drag and Drop in Browser Bookmarks bar</b></div>
                                <div class="row">
                                    <div class="col" align="center">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/CsTLnN0YkMc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>  
                                </div>
                                </div>
                            </div>
                </div>
            </div>
        </div>
    </div>
</div>