header{
    background: #ffffff;
}

#canvas {
    border: 2px dashed #cccccc;
  }
  .main-title{
    margin-top: 10px;
  }
  .images-item {
    width: 60px;
    cursor: pointer;
    padding: 8px;
    max-width: 120px;
  }
  
  .images-item:hover {
    opacity: 0.7;
  }
  
  .images-item-upload {
    width: 80%;
    cursor: pointer;
    padding-bottom: 10px;
    -webkit-transition: .5s ease;
    -webkit-transition: .5s ease;
  }
  
  .images-item-upload:hover {
    opacity: 0.7;
  }
  
  .custom-item {
    border-bottom: 2px solid #f3f3f3;
  }
  
  .custom-item .custom-item-title {
    color: #666666;
    font-weight: 600;
  }
  
  .custom-item .custom-item-body {
    padding: 10px 0;
  }
  
  .max-height{
    overflow: auto;
    max-height: 300px;
  }
  .input-group-append{
    height: 35px;
  }
  td,th{
    font-size: 12px !important;
  }
  .canvas-container{
    width: 100%;
  }
  .w-50{
    width:47% !important;
  }
  .w-50.p-2.float-right {
    height: 100px;
    width: 100px;
    line-height: 0.5;
    border: 1px solid #dddddd;
    text-align: center;
    position: relative;
    margin: 2px;
  }
  .cnt{
    position: absolute;
    bottom: 15px;
  }