<div  id="content" [class]="!showMenu?'active container page-content p-5 mt-5 font14':'container page-content p-5 mt-5 font14'">
<div class="container bg-white" *ngIf="showStudio">
        <div class="col-xl-12  pt-2">
                <div class="row">
                        <div class="col-xl-4 text-left">
                            Title: {{newName}}
                        </div>
                    <div class="col-xl-8 text-right"> 
                            <div class="btn-group mr-2" role="group" aria-label="...">
                                    <button data-toggle="tooltip" data-placement="bottom" title="Delete element" type="button" class="btn btn-outline-danger" [disabled]="!selected"
                                        (click)="removeSelected();">
                                        <i class="fa fa-remove" aria-hidden="true"></i>
                                    </button>
                                    <!-- <button data-toggle="tooltip" data-placement="bottom" title="Send to back" type="button" class="btn btn-outline-primary" [disabled]="!selected"
                                        (click)="sendToBack();">
                                        <i class="fa fa-level-down" aria-hidden="true"></i>
                                    </button>
                                    <button data-toggle="tooltip" data-placement="bottom" title="Send to front" type="button" class="btn btn-outline-primary" [disabled]="!selected"
                                        (click)="bringToFront();">
                                        <i class="fa fa-level-up" aria-hidden="true"></i>
                                    </button> -->
                                    <button data-toggle="tooltip" data-placement="bottom" title="Clone" type="button" class="btn btn-outline-primary" [disabled]="!selected || selected.type == 'group'"
                                        (click)="clone();">
                                        <i class="fa fa-clone" aria-hidden="true"></i>
                                    </button>
                                    <!-- <button data-toggle="tooltip" data-placement="bottom" title="Unselect" type="button" class="btn btn-outline-primary" [disabled]="!selected"
                                        (click)="cleanSelect()">
                                        <i class="fa fa-remove" aria-hidden="true"></i>
                                    </button> -->
                                </div>
                        <!-- <button data-toggle="tooltip" data-placement="bottom" title="Export to image" type="button" class="btn btn-primary" (click)="rasterize();">
                            <i class="fa fa-download" aria-hidden="true"></i> Export</button>&nbsp; -->
                     <!-- -->
                        <button data-toggle="tooltip" data-placement="bottom" title="Save in localStorage" type="button" class="btn btn-primary"
                            (click)="listBoards();">
                            <i class="fa fa-save" aria-hidden="true"></i> Save</button>&nbsp;
                            <button data-toggle="tooltip" data-placement="bottom" title="Generate PDF" type="button" class="btn btn-primary" (click)="captureScreen();">
                                    <i class="fa fa-download" aria-hidden="true"></i> Generate PDF</button>&nbsp;
                         <!-- <button data-toggle="tooltip" data-placement="bottom" title="Load from localStorage" type="button" class="btn btn-primary"
                            (click)="loadCanvasFromJSON();">
                            <i class="fa fa-save" aria-hidden="true"></i> Load local</button>&nbsp;  -->
                        <button data-toggle="tooltip" data-placement="bottom" title="Clean Canvas" type="button" class="btn btn-danger" (click)="confirmClear();">
                            <i class="fa fa-ban" aria-hidden="true"></i> Clean</button>&nbsp;
                        <button data-toggle="tooltip" data-placement="bottom" title="Cancel Canvas" type="button" class="btn btn-danger" (click)="listBoards();">
                                    <i class="fa fa-close" aria-hidden="true"></i> Cancel</button>
                    </div>
                </div>
            </div>
 <hr>
    <div class="row mb-4 mt-2">
        <div class="col d-flex "><div style="line-height:2.5">Filter By:</div>&nbsp;<div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle font14" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Supplier
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item font12" href="javascript:void(0)">A-America</a>
                  <a class="dropdown-item font12" href="javascript:void(0)">Value Home Furniture</a>
                  <a class="dropdown-item font12" href="javascript:void(0)">Titanic Furniture</a>
                </div>
              </div>&nbsp;
              <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle font14" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Category
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item font12" href="javascript:void(0)">Living room</a>
                      <a class="dropdown-item font12" href="javascript:void(0)">Bedroom</a>
                      <a class="dropdown-item font12" href="javascript:void(0)">Dining</a>
                      <a class="dropdown-item font12" href="javascript:void(0)">Home Office</a>
                    </div>
                  </div>&nbsp;<div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle font14" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Price
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item font12" href="javascript:void(0)">Under $100</a>
                          <a class="dropdown-item font12" href="javascript:void(0)">$100 - $500</a>
                          <a class="dropdown-item font12" href="javascript:void(0)">$500 - $1000</a>
                          <a class="dropdown-item font12" href="javascript:void(0)">$1000 - $2000</a>
                          <a class="dropdown-item font12" href="javascript:void(0)">$2000 - $5000</a>
                          <a class="dropdown-item font12" href="javascript:void(0)">$5000 above</a>
                        </div></div>&nbsp;
                        
                        <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle font14" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Warehouse
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  <a class="dropdown-item font12" href="javascript:void(0)">Chicago Warehouse	</a>
                                  <a class="dropdown-item font12" href="javascript:void(0)">Value Home Warehouse 2	</a>
                                  <a class="dropdown-item font12" href="javascript:void(0)">Seattle Storage</a>
                                  <a class="dropdown-item font12" href="javascript:void(0)">New York Storage	</a>
                                  <a class="dropdown-item font12" href="javascript:void(0)">Milwaukee Storage	</a>
                                </div>
                              </div>
            </div>
    </div>
    <div class="row">
        <div class="col-xl-3">
            
            <div class="card">
                <div class="card-header">Furniture</div>
                <div class="card-body max-height" >
                        <!-- <img class="images-item" (click)="getImgPolaroid($event)" src="https://www.foagroup.com/media/catalog/product/cache/1/image/040ec09b1e35df139433887a97daa66f/f/o/foa7882d-1.jpg "> -->
                   <div class="w-50 p-2 float-right"> <img class="images-item" crossorigin="anonymous" (click)="getImgPolaroid($event)"  src="assets/img/d1.jpg"><div class="font10 cnt">10</div></div>                  <div class="w-50 p-2 float-right"> <img class="images-item" crossorigin="anonymous" (click)="getImgPolaroid($event)"  src="assets/img/d2.jpg"><div class="font10 cnt">20</div></div>                   <div class="w-50 p-2 float-right"> <img class="images-item" crossorigin="anonymous" (click)="getImgPolaroid($event)"  src="assets/img/d3.jpg"><div class="font10 cnt">8</div></div>                   <div class="w-50 p-2 float-right"> <img class="images-item" crossorigin="anonymous" (click)="getImgPolaroid($event)"  src="assets/img/d4.jpg"><div class="font10 cnt">10</div></div>                   
                   <div class="w-50 p-2 float-right"> <img class="images-item" crossorigin="anonymous" (click)="getImgPolaroid($event)"  src="assets/img/d5.jpg"><div class="font10 cnt">10</div></div>                 <div class="w-50 p-2 float-right"> <img class="images-item" crossorigin="anonymous" (click)="getImgPolaroid($event)"  src="assets/img/d6.jpg"><div class="font10 cnt">15</div></div>                <div class="w-50 p-2 float-right"> <img class="images-item" crossorigin="anonymous" (click)="getImgPolaroid($event)"  src="assets/img/d7.jpg"><div class="font10 cnt">10</div></div>               <div class="w-50 p-2 float-right"> <img class="images-item" crossorigin="anonymous" (click)="getImgPolaroid($event)"  src="assets/img/d8.jpg"><div class="font10 cnt">10</div></div>                   <div class="w-50 p-2 float-right"> <img class="images-item" crossorigin="anonymous" (click)="getImgPolaroid($event)"  src="assets/img/d9.jpg"><div class="font10 cnt">10</div></div>                    <div class="w-50 p-2 float-right"><img class="images-item" crossorigin="anonymous" (click)="getImgPolaroid($event)"  src="assets/img/d10.jpg"><div class="font10 cnt">10</div></div>
                    <div class="w-50 p-2 float-right"><img class="images-item" crossorigin="anonymous" (click)="getImgPolaroid($event)"  src="assets/img/d11.jpg"><div class="font10 cnt">10</div></div>
                    <div class="w-50 p-2 float-right"><img class="images-item" crossorigin="anonymous" (click)="getImgPolaroid($event)"  src="assets/img/d12.jpg"><div class="font10 cnt">20</div></div>
                    <div class="w-50 p-2 float-right"><img class="images-item" crossorigin="anonymous" (click)="getImgPolaroid($event)"  src="assets/img/d13.jpg"><div class="font10 cnt">12</div></div>
                    <div class="w-50 p-2 float-right"><img class="images-item" crossorigin="anonymous" (click)="getImgPolaroid($event)"  src="assets/img/d14.jpg"><div class="font10 cnt">15</div></div>
                    <div class="w-50 p-2 float-right"><img class="images-item" crossorigin="anonymous" (click)="getImgPolaroid($event)"  src="assets/img/d15.jpg"><div class="font10 cnt">10</div></div>
                    <div class="w-50 p-2 float-right"><img class="images-item" crossorigin="anonymous" (click)="getImgPolaroid($event)"  src="assets/img/d16.jpg"><div class="font10 cnt">10</div></div>
                    <div class="w-50 p-2 float-right"><img class="images-item" crossorigin="anonymous" (click)="getImgPolaroid($event)"  src="assets/img/d17.png"><div class="font10 cnt">10</div></div>
                    <div class="w-50 p-2 float-right"><img class="images-item" crossorigin="anonymous" (click)="getImgPolaroid($event)"  src="assets/img/d18.jpg"><div class="font10 cnt">10</div></div>
                    <div class="w-50 p-2 float-right"><img class="images-item" crossorigin="anonymous" (click)="getImgPolaroid($event)"  src="assets/img/d19.jpg"><div class="font10 cnt">10</div></div>
                    <div class="w-50 p-2 float-right"><img class="images-item" crossorigin="anonymous" (click)="getImgPolaroid($event)"  src="assets/img/d20.jpg"><div class="font10 cnt">10</div></div>
                    <div class="w-50 p-2 float-right"><img class="images-item" crossorigin="anonymous" (click)="getImgPolaroid($event)"  src="assets/img/d21.jpg"><div class="font10 cnt">10</div></div>
                </div>
            </div>
            <br />
            <div class="card">
                    <div class="card-header">Size</div>
                    <div class="card-body">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" [(ngModel)]="size.width" (keyup)="changeSize($event)">
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        Width
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" [(ngModel)]="size.height" (keyup)="changeSize($event)">
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        Height
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="col-xl-9" id="contentToConvert">
            <canvas id="canvas" [style.borderWidth]=" !hideOnPrint ? '1px' : '0px' "></canvas>
            <div class="row mt-2">
                <div class="col text-right" *ngIf="!hideOnPrint">
                        <button data-toggle="tooltip" data-placement="bottom" title="Cancel Canvas" type="button" class="btn btn-success" (click)="getQuote();">
                                 Get Quotation</button>
                </div>
            </div>
            <table class="table table-striped mt-2" *ngIf="listQuote" >
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Product</th>
                        <th scope="col">Supplier</th>
                        <th scope="col">Asset value</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Inhabitr Price</th>
                        <th scope="col">Discount</th>
                        <th scope="col">Total</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Lila Bed</td>
                        <td>Amazon</td>
                        <td>$500.00</td>
                        <td>1</td>
                        <td>$540.00</td>
                        <td><i *ngIf="!hideOnPrint" class="fa fa-plus"></i> 10% <i *ngIf="!hideOnPrint" class="fa fa-minus"></i></td>
                        <td>$540.00</td>

                      </tr>
                      <tr>                       
                        <th scope="row">2</th>
                        <td>Platform Bed</td>
                        <td>Wayfair</td>
                        <td>$900.00</td>
                        <td>2</td>
                        <td>$950.00</td>
                        <td><i *ngIf="!hideOnPrint" class="fa fa-plus"></i> 5% <i *ngIf="!hideOnPrint" class="fa fa-minus"></i></td>
                        <td>$1900.00</td>
                      </tr>
                      <tr>
                        <th scope="row">Total</th>
                        <td colspan="6" class="text-right"><i *ngIf="!hideOnPrint" class="fa fa-plus"></i> 15% <i *ngIf="!hideOnPrint" class="fa fa-minus"></i></td>
                        <td  > &nbsp;$2440.00</td>
                      </tr>
                    </tbody>
                  </table>
        </div>
       
    </div>
    <!-- <div class="row">
            <div class="col-xl-12">
                <br/>
                <div class="card">
                    <div class="card-header">
                        <button type="button" class="btn btn-primary btn-sm" (click)="rasterizeJSON()">
                            <i class="fa fa-refresh" aria-hidden="true"></i> Render to json</button>
                    </div>
                    <div class="card-body">
                        <pre>{{json}}</pre>
                    </div>
                </div>
            </div>
        </div> -->
    <br>
    <br>
</div>
<div class="container bg-white" *ngIf="showBoards">
        <div class="col-xl-12  pt-2">
                <div class="row  ">
                    <div class="col-xl-12 d-flex justify-content-end">
                            <div class="form-group d">
                                    <div class="input-group  ">
                                        <input type="text" class="form-control" placeholder="Enter Design Title" [(ngModel)]="newName">
                                        <div class="input-group-append pointer"  (click)="createNewBoard()">
                                            <span class="input-group-text font12 bold">
                                                Create
                                            </span>
                                        </div>
                                    </div>
                                </div>
                    </div>
                </div>
                <div class="row card-group">
                        <div class="col-4"  *ngFor="let board of staticImages">
                            <div class="card mt-3" (click)="openBoard(board)">
                                <img src="{{board.img}}"  class="img-responsive" alt="{{board.name}}" style="height: 200px;">
                                <div class="font12 text-center p-3">{{board.name}}</div>
                            </div>
                        </div>
                    </div>
        </div>
</div>
</div>